body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 160px auto auto;
  grid-template-areas:
    'header header header'
    'sidebar content content'
    'footer footer footer';
}

.page > * {
  padding: 10px;
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 2em;
  padding: 1rem;
  display: flex;
  box-shadow: 1px 3px 14px 2px rgba(166,166,166,0.64);
  -webkit-box-shadow: 1px 3px 14px 2px rgba(166,166,166,0.64);
  -moz-box-shadow: 1px 3px 14px 2px rgba(166,166,166,0.64);
}

.header input {
  float: right;
}

.header .logo {
  margin: 0;
  font-size: 1.8rem;
}

.header .nav-search {
  margin: auto;
  width: 25em;
  margin-right: 2rem;
  height: 2em;
}
.sidebar {
  grid-area: sidebar;
  margin-top: 3em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin: 0 0 0 8px;
  padding: 8px 0;
}

.sidebar ul li a {
  cursor: pointer;
  color: rgb(30, 33, 34);
  text-decoration: none;
  font-size: 1.2em;
}

.sidebar ul li a:hover,
.sidebar ul li a:active{
  color: rgb(190, 0, 0);
}

.articles {
  display: grid;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
}

.article {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.article > * {
  display: inline-block;
  padding: 4px 0;
  margin: 4px 0;
  width: 100%;
}

.article > section[role="button"] {
  padding: .2em;
  background-color: black;
  cursor: pointer;
  text-align: center;
  color: white;
  padding: 10px 0;
  border-radius: 4px;
  margin-top: auto;
}

.article > section[role="button"]:hover {
  background-color:rgb(190, 0, 0);
  color: white;
}



